* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/images/earth-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main.wrapper {
  padding: 1rem;
  background-color: rgba(21, 29, 59, 0.3);
  color: #6ebf8b;
}

header {
  padding: 3rem 1.5rem;
  background-color: #d82148;
  border-radius: 16px;
  box-shadow: 5px 5px 10px 3px rgba(218, 219, 189);
}

ul {
  list-style: none;
}
.flex {
  display: flex;
}
